html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

#main {
    height: 100%;
}

#main-content {
    height: 100%;
    /*
    padding-left: 50px;
    */
    padding-top: 50px;
}





#editor {
    float: right;
    width: 61.5%;
    height: 100%;
    border-left: 1px solid #aaa;
}

#preview-wrap {
    float: left;
    width: 38.5%;
    height: 100%;
    border: 0px;
    box-shadow: 0px 0px 4px 0px #444;
    background: #eef;
    resize: both;
}

#preview-wrap h2 {
    position: relative;
    padding: 7px 5px;
    font-size: 16px;
    background: hsl(189, 100%, 50%);
    color: white;
    margin: 0;
    height: 30px;
    text-overflow: ellipsis;
}

#preview {
    width: 100%;
    height: 100%;
    background: #eef;
    margin-top: -30px;
    padding-top: 30px;
}

#preview iframe {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
    width: 100%;
    height: 61.5%;
}

#console {
    border-radius: 0px;
    border: 0px;
    border-top: 1px solid #ccc;
    display: block;
    margin: 0;
    padding: 0;
    background: #fff;
    padding: 5px 10px;
    width: 100%;
    height: 38.5%;
    font-family: 'Consolas', 'Monaco', 'ＭＳ ゴシック';
    overflow-x: auto;
}

#preview pre span {
    border-bottom: 1px solid #ccc;
    display: block;
}

#preview pre span:last-child {
    color: blue;
}
#preview pre span.error {
    color: red;
}


.btn-healing {
	color: hsl(0, 100%, 100%);
	background-color: hsl(340, 70%, 60%);
	border-color: hsl(350, 70%, 56%);
}

.btn-healing:hover, .btn-healing:focus, .btn-healing:active, .btn-healing.active, .open .dropdown-toggle.btn-healing {
	color: hsl(0, 100%, 100%);
	background-color: hsl(350, 65%, 50%);
	border-color: hsl(350, 65%, 41%);
}


.navbar-brand b {
    margin-left: 20px;
}
.navbar-brand img {
    width: 25px;
    position: absolute;
    margin-left: -10px;
    margin-top: -5px;
}

.col-sm-4 {
    padding: 5px;
}
.col-sm-4:first-child {
    padding-left: 0px;
}
.col-sm-4:last-child {
    padding-right: 0px;
}

.highlight_line {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background: #eee;
}


