@headerHeight: 64px;
@headerHeightSP: 56px;
@footerHeight: 0px;
@transitionSpeed: 500ms;


body {
  background: #eee;
  font-family: Helvetica;
}

nav.header {
  .nav-wrapper {

    max-width: none;
    @media only screen and (min-width: 993px) {
      width: 100%;
    }
    @media only screen and (min-width: 601px) {
      width: 100%;
    }

    .brand-logo {

      white-space: nowrap;

      &:before {
        position: relative;
        left: 16px;
        top: -3px;
        content: 'logo';
        color: transparent;
        display: inline-block;
        background-image: url("../images/logo.png");
        background-size: cover;
        transform: scale(0.6);
      }
    }

  }
}


nav .button-collapse i {
  font-size: 2rem !important;
}


.main {
  position: fixed;
  left: 0px;
  width: 100%;

  top: @headerHeightSP;
  @media only screen and (min-width: 601px) {
    top: @headerHeight;
  }
  bottom: @footerHeight;
}

.dialog {
  position: absolute;
  border-radius: 6px;
  transition: @transitionSpeed;
  width: 100%;
  height: 100%;

  padding: 7px;

  .inner {
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px #aaa;
    width: 100%;
    height: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    .header {
      width: 100%;
      height: 36px;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      position: relative;
    }
  }

  .btn-fullscreen {
    position: absolute;
    top: 11px;
    right: 4px;
    line-height: 14px;
    cursor: pointer;
    font-size: 2rem;
    z-index: 32;
  }

  &.fullscreen {
    width: 100%;
    height: 100%;
    z-index: 512;
    /*
    position: relative;
    left: 0px;
    width: 250%;
    height: 100%;
    z-index: 512;
    */

    /*
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 512;
    padding: 0px;
    border-radius: 0px;
    */
  }
}

.preview {
  top: 0px;
  left: 0px;
  width: 40%;
  height: 60%;

  .inner {
    background: white;

    .header {
      background-color: hsl(210, 100%, 92%);
      .title {
        line-height: 36px;
        margin-left: 10px;
      }
    }

    .content {
      width: 100%;
      height: 100%;
      padding-bottom: 36px;

      .frame {
        width: 100%;
        height: 100%;

        iframe {
          width: 100%;
          height: 100%;
          border: none;
        }
      }
    }

  }
}

.console {
  bottom: 0px;
  left: 0px;
  width: 40%;
  height: 40%;

  .inner {
    background: white;

    .header {
      background-color: hsl(210, 100%, 92%);
      .title {
        line-height: 36px;
        margin-left: 10px;
      }
    }

    .content {
    }

  }
}



.editor {
  @headerHeight: 36px;

  top: 0px;
  right: 0px;
  width: 60%;
  height: 100%;
  padding-left: 5px;

  .inner {
    width: 100%;
    height: 100%;
    background-color: #444;

    .header {
      background-color: #444;
      color: white;


      .tabs {
        background: transparent;
        padding-top: 1px;
        height: @headerHeight;

        li.tab {
          background: transparent;
          height: @headerHeight;
          line-height: @headerHeight;
        }
      }
    }

    .content {
      width: 100%;
      height: 100%;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      padding-bottom: @headerHeight;

      .editor-unit {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }
    }

  }
}




.modal {
  .dropdown-content li>a, .dropdown-content li>span {
    font-size: 1rem;
    padding: 0.5rem;
  }

  &.bottom-sheet {
    max-height: 70% !important;
  }
}

.footer {
  position: fixed;
  height: @footerHeight;
  width: 100%;
  background-color: hsl(200, 18%, 26%) !important;
  bottom: 0px;
}



/*
@media only screen and (max-width: 600px) {
  .preview {
    width: 100%;
    height: 100%;
    z-index: 512;
  }
}
*/